[At a high level, list applicable standards, hardware, or platform requirements; performance requirements; and environmental requirements.
Define the quality ranges for performance, robustness, fault tolerance, usability, and similar characteristics that are not captured in the Feature Set.
Note any design constraints, external constraints, assumptions or other dependencies that, if changed, will alter the Vision document. For example, an assumption may state that a specific operating system will be available for the hardware designated for the software product. If the operating system is not available, the Vision document will need to change.
Define any specific documentation requirements, including user manuals, online help, installation, labeling, and packaging requirements.
Define the priority of these other product requirements. Include, if useful, attributes such as stability, benefit, effort, and risk.]

Requirement     |     Priority     |     Planned Release
		
